<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="food_mapper">

	<resultMap type="FoodList" id="resultFoodList">
		<id property="no" column="no" />
		<result property="fno"  column="foodNo" />
		<result property="pno"  column="pointNo" />
		<result property="title"  column="title" />
		<result property="content"  column="content" />
		<result property="memberName"  column="nickName" />
		<result property="memberNo" column="memberNo" />
		<result property="thumbnail" column="thumbnail"/>
		<result property="commentCount" column="comment_count"/>
		<result property="likeCount" column="like_count"/>
		<result property="imageCheck" column="imageCheck"/>
		<result property="category" column="food_category"/>
		<result property="categoryId" column="categoryId" />
		<result property="address" column="food_address"/>
		<result property="point" column="point"/>
		<result property="profile" column="profile"/>
	</resultMap>
	
	<resultMap type="boardList" id="resultBoardList">
		<id property="no" column="no" />
		<result property="memberName"  column="nickName" />
		<result property="thumbnail" column="thumbnail"/>
		<result property="commentCount" column="comment_count"/>
		<result property="likeCount" column="like_count"/>
		<result property="imageCheck" column="imageCheck"/>
	</resultMap>
	
	<select id="foodrecentSort" resultMap="resultFoodList">
		SELECT B.*, M.NICKNAME, NVL(L.like_count, 0) like_count, F.THUMBNAIL thumbnail,
				NVl(C.comment_count,0) comment_count, F.NO foodNo, C.ID categoryId,
				C.VALUE food_category, M.PROFILE profile,
				F.ADDRESS food_address, P.POINT, INSTR(b.CONTENT, 'img') imageCheck
		FROM DC_BOARD_TB B
		INNER JOIN DC_MEMBER_TB M 
		ON (B.MEMBERNO = M.NO)
		  LEFT JOIN (SELECT COUNT(*) like_count, BOARDNO FROM DC_LIKE_TB GROUP BY BOARDNO) L ON L.BOARDNO = B.NO
		  LEFT JOIN (SELECT COUNT(*) comment_count, BOARDNO FROM DC_COMMENT_TB WHERE STATUS = 'STATUS001' GROUP BY BOARDNO) C ON C.BOARDNO = B.NO
		INNER JOIN DC_BOARD_FOOD_TB F
		ON (F.BOARDNO = B.NO)
		INNER JOIN DC_FOOD_POINT_TB P
		ON (P.FOODNO = F.NO)
		INNER JOIN DC_CODE_TB C
		ON (F.CATEGORY = C.ID)
		WHERE B.TYPE = 'BOARD002' AND B.STATUS = 'BSTATUS001'
		ORDER BY B.WRITEDATE DESC, B.NO DESC
	</select>
	
	<select id="foodcommentSort" resultMap="resultFoodList">
		SELECT B.*, M.NICKNAME, NVL(L.like_count, 0) like_count, F.THUMBNAIL thumbnail,
				NVl(C.comment_count,0) comment_count, F.NO foodNo,
				C.VALUE food_category, M.PROFILE profile,
				F.ADDRESS food_address, P.POINT, INSTR(b.CONTENT, 'img') imageCheck
		FROM DC_BOARD_TB B
		INNER JOIN DC_MEMBER_TB M 
		ON (B.MEMBERNO = M.NO)
		  LEFT JOIN (SELECT COUNT(*) like_count, BOARDNO FROM DC_LIKE_TB GROUP BY BOARDNO) L ON L.BOARDNO = B.NO
		  LEFT JOIN (SELECT COUNT(*) comment_count, BOARDNO FROM DC_COMMENT_TB WHERE STATUS = 'STATUS001' GROUP BY BOARDNO) C ON C.BOARDNO = B.NO
		INNER JOIN DC_BOARD_FOOD_TB F
		ON (F.BOARDNO = B.NO)
		INNER JOIN DC_FOOD_POINT_TB P
		ON (P.FOODNO = F.NO)
		INNER JOIN DC_CODE_TB C
		ON (F.CATEGORY = C.ID)
		WHERE B.TYPE = 'BOARD002' AND B.STATUS = 'BSTATUS001'
		ORDER BY comment_count DESC, B.NO DESC
	</select>
	
	<select id="foodlikeSort" resultMap="resultFoodList">
		SELECT B.*, M.NICKNAME, NVL(L.like_count, 0) like_count, F.THUMBNAIL thumbnail,
				NVl(C.comment_count,0) comment_count, F.NO foodNo, 
				C.VALUE food_category, M.PROFILE profile,
				F.ADDRESS food_address, P.POINT, INSTR(b.CONTENT, 'img') imageCheck
		FROM DC_BOARD_TB B
		INNER JOIN DC_MEMBER_TB M 
		ON (B.MEMBERNO = M.NO)
		  LEFT JOIN (SELECT COUNT(*) like_count, BOARDNO FROM DC_LIKE_TB GROUP BY BOARDNO) L ON L.BOARDNO = B.NO
		  LEFT JOIN (SELECT COUNT(*) comment_count, BOARDNO FROM DC_COMMENT_TB WHERE STATUS = 'STATUS001' GROUP BY BOARDNO) C ON C.BOARDNO = B.NO
		INNER JOIN DC_BOARD_FOOD_TB F
		ON (F.BOARDNO = B.NO)
		INNER JOIN DC_FOOD_POINT_TB P
		ON (P.FOODNO = F.NO)
		INNER JOIN DC_CODE_TB C
		ON (F.CATEGORY = C.ID)
		WHERE B.TYPE = 'BOARD002' AND B.STATUS = 'BSTATUS001'
		ORDER BY like_count DESC, B.NO DESC
	</select>
	
	<select id="selectFoodTotalContents" resultType="_int">
		SELECT COUNT(*) FROM DC_BOARD_TB WHERE TYPE = 'BOARD002' AND STATUS = 'BSTATUS001'
	</select>
	
	<select id="selectOneFood" parameterType="_int" resultMap="resultFoodList">
		SELECT B.*, F.NO foodNo, P.NO pointNo, M.NICKNAME, NVL(L.like_count, 0) like_count, NVl(C.comment_count,0) comment_count,
				C.VALUE food_category, F.ADDRESS food_address, P.POINT
		FROM DC_BOARD_TB B
		INNER JOIN DC_MEMBER_TB M 
		ON B.MEMBERNO = M.NO
		LEFT JOIN (SELECT COUNT(*) like_count, BOARDNO FROM DC_LIKE_TB GROUP BY BOARDNO) L ON L.BOARDNO = B.NO
		LEFT JOIN (SELECT COUNT(*) comment_count, BOARDNO FROM DC_COMMENT_TB WHERE STATUS = 'STATUS001' GROUP BY BOARDNO) C ON C.BOARDNO = B.NO
		INNER JOIN DC_BOARD_FOOD_TB F
		ON (F.BOARDNO = B.NO)
		INNER JOIN DC_FOOD_POINT_TB P
		ON (P.FOODNO = F.NO)
		INNER JOIN DC_CODE_TB C
		ON (F.CATEGORY = C.ID)
		WHERE B.TYPE = 'BOARD002' AND B.NO = #{bno}  AND B.STATUS = 'BSTATUS001'
		ORDER BY B.WRITEDATE DESC, B.NO DESC
	</select>
	
	 <insert id="insertBoard" parameterType="Board">
		INSERT INTO DC_BOARD_TB VALUES
		(SEQ_BOARD.NEXTVAL, #{title}, SYSDATE, #{content}, 0, 'BOARD002', 'BSTATUS001', #{memberNo}, NULL)
	</insert>
	
	<insert id="insertFood" parameterType="Food">
		<selectKey keyProperty="boardNo" resultType="_int" order="BEFORE">
			SELECT SEQ_BOARD.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO DC_BOARD_FOOD_TB VALUES
		(SEQ_BOARD_FOOD.NEXTVAL, #{boardNo}, #{category}, #{address}, #{thumbnail})
	</insert>
	
	<insert id="insertFoodPoint" parameterType="FoodPoint">
		<selectKey keyProperty="foodNo" resultType="_int" order="BEFORE">
			SELECT SEQ_BOARD_FOOD.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO DC_FOOD_POINT_TB VALUES 
		(SEQ_FOOD_POINT.NEXTVAL, #{point}, SYSDATE, #{foodNo}, #{memberNo})
	</insert>

	<update id="updateBoard" parameterType="FoodList">
		UPDATE DC_BOARD_TB SET TITLE = #{title}, CONTENT = #{content} WHERE NO = #{no}
	</update>

	<update id="updateFood" parameterType="FoodList">
		UPDATE DC_BOARD_FOOD_TB SET CATEGORY = #{category}, ADDRESS = #{address} WHERE NO = #{fno}
	</update>
	
	<update id="updateFoodPoint" parameterType="FoodList">
		UPDATE DC_FOOD_POINT_TB SET POINT = #{point} WHERE NO = #{pno}
	</update>
	
	<update id="foodDelete" parameterType="_int"> 
		UPDATE DC_BOARD_TB SET STATUS = 'BSTATUS002'  WHERE NO = #{no} 
	</update>
	
	<select id="foodViewCount" parameterType="_int">
		UPDATE DC_BOARD_TB SET VIEWCOUNT = VIEWCOUNT + 1 WHERE NO = #{no}
	</select>
	
	<select id="selectFoodListData" resultType="board">
		SELECT * FROM DC_BOARD_TB WHERE TYPE='BOARD001' 
		AND STATUS = 'BSTATUS001' AND ROWNUM <![CDATA[ <= 5 ORDER BY NO ]]>
	</select>
	
</mapper>
