<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="free_mapper">

	<resultMap type="boardList" id="resultBoardList">
		<id property="no" column="no" />
		<result property="memberName"  column="nickName" />
		<result property="thumbnail" column="thumbnail"/>
		<result property="commentCount" column="comment_count"/>
		<result property="likeCount" column="like_count"/>
	</resultMap>
<!-- 	
	<resultMap type="board" id="resultBoard">
		<id property="no" column="no" />
		<result property="memberName"  column="nickName" />
		<result property="thumbnail" column="thumbnail"/>
	</resultMap>
	 -->
	<!-- 
 	<select id="selectFreeList" resultMap="resultBoard">
		SELECT B.*, M.NICKNAME
		FROM DC_BOARD_TB B
		INNER JOIN DC_MEMBER_TB M 
		ON B.MEMBERNO = M.NO
		WHERE B.TYPE = 'BOARD001'
		ORDER BY B.WRITEDATE DESC, B.NO DESC
	</select>
	 -->
	
	<select id="selectFreeList" resultMap="resultBoardList">
		SELECT B.*, M.NICKNAME, NVL(L.like_count, 0) like_count, NVl(C.comment_count,0) comment_count
		FROM DC_BOARD_TB B
		INNER JOIN DC_MEMBER_TB M 
		ON B.MEMBERNO = M.NO
		  LEFT JOIN (SELECT COUNT(*) like_count, BOARDNO FROM DC_LIKE_TB GROUP BY BOARDNO) L ON L.BOARDNO = B.NO
		  LEFT JOIN (SELECT COUNT(*) comment_count, BOARDNO FROM DC_COMMENT_TB GROUP BY BOARDNO) C ON C.BOARDNO = B.NO
		WHERE B.TYPE = 'BOARD001'
		ORDER BY B.WRITEDATE DESC, B.NO DESC
	</select>
	
	<select id="selectFreeTotalContents" resultType="_int">
		SELECT COUNT(*) FROM DC_BOARD_TB WHERE TYPE = 'BOARD001'
	</select>
	
	<select id="selectOneFree" parameterType="_int" resultMap="resultBoardList">
		SELECT B.*, M.NICKNAME, NVL(L.like_count, 0) like_count, NVl(C.comment_count,0) comment_count
		FROM DC_BOARD_TB B
		INNER JOIN DC_MEMBER_TB M 
		ON B.MEMBERNO = M.NO
		LEFT JOIN (SELECT COUNT(*) like_count, BOARDNO FROM DC_LIKE_TB GROUP BY BOARDNO) L ON L.BOARDNO = B.NO
		LEFT JOIN (SELECT COUNT(*) comment_count, BOARDNO FROM DC_COMMENT_TB GROUP BY BOARDNO) C ON C.BOARDNO = B.NO
		WHERE B.TYPE = 'BOARD001' AND B.NO = #{bno}
		ORDER BY B.WRITEDATE DESC, B.NO DESC
	</select>
	
	<insert id="insertFree" parameterType="Board">
		INSERT INTO DC_BOARD_TB VALUES
		<!-- (SEQ_BOARD.NEXTVAL, #{title}, SYSDATE, #{content}, 0, 'BOARD001', 'STATUS001', 5, NULL) -->
		(SEQ_BOARD.NEXTVAL, #{title}, SYSDATE, #{content}, 0, 'BOARD001', 'STATUS001', #{memberNo}, NULL)
		<!-- INSERT INTO DC_BOARD_TB VALUES
		(SEQ_BOARD.NEXTVAL, '제목', SYSDATE, '내용', 0, 'BOARD001', 'STATUS001', 5, NULL) -->
	</insert>
	
	<update id="updateFree" parameterType="Board">
		UPDATE DC_BOARD_TB SET TITLE = #{title}, CONTENT = #{content} WHERE NO = #{no}
	</update>
	
	<delete id="freeDelete" parameterType="_int"> 
		DELETE FROM DC_BOARD_TB WHERE NO = #{no} 
	</delete>
	
	<select id="freeViewCount" parameterType="_int">
		UPDATE DC_BOARD_TB SET VIEWCOUNT = VIEWCOUNT + 1 WHERE NO = #{no}
	</select>
	
	<select id="selectFreeListData" resultType="board">
		SELECT * FROM DC_BOARD_TB WHERE TYPE='BOARD001' AND ROWNUM <![CDATA[ <= 5 ORDER BY NO ]]>
	</select>
	
</mapper>
