<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="free_mapper">

	<resultMap type="boardList" id="resultBoardList">
		<id property="no" column="no" />
		<result property="memberName"  column="nickName" />
		<result property="profile" column="profile"/>
		<result property="commentCount" column="comment_count"/>
		<result property="likeCount" column="like_count"/>
		<result property="imageCheck" column="imageCheck"/>
	</resultMap>
	
	<select id="recentSort" resultMap="resultBoardList">
		SELECT B.*, M.NICKNAME, NVL(L.like_count, 0) like_count, NVl(C.comment_count,0) comment_count, 
		    INSTR(b.CONTENT, 'img') imageCheck, M.PROFILE profile
		FROM DC_BOARD_TB B
		INNER JOIN DC_MEMBER_TB M 
		ON B.MEMBERNO = M.NO
		  LEFT JOIN (SELECT COUNT(*) like_count, BOARDNO FROM DC_LIKE_TB GROUP BY BOARDNO) L ON L.BOARDNO = B.NO
		  LEFT JOIN (SELECT COUNT(*) comment_count, BOARDNO FROM DC_COMMENT_TB WHERE STATUS = 'STATUS001' GROUP BY BOARDNO) C ON C.BOARDNO = B.NO
		WHERE B.TYPE = 'BOARD001' AND B.STATUS = 'BSTATUS001' AND M.LOCATIONNO = #{LOCATIONNO}
		ORDER BY B.WRITEDATE DESC, B.NO DESC
	</select>
	
	<select id="commentSort" resultMap="resultBoardList">
		SELECT B.*, M.NICKNAME, NVL(L.like_count, 0) like_count, NVl(C.comment_count,0) comment_count, 
			INSTR(b.CONTENT, 'img') imageCheck, M.PROFILE profile
		FROM DC_BOARD_TB B
		INNER JOIN DC_MEMBER_TB M 
		ON B.MEMBERNO = M.NO
		  LEFT JOIN (SELECT COUNT(*) like_count, BOARDNO FROM DC_LIKE_TB GROUP BY BOARDNO) L ON L.BOARDNO = B.NO
		  LEFT JOIN (SELECT COUNT(*) comment_count, BOARDNO FROM DC_COMMENT_TB WHERE STATUS = 'STATUS001' GROUP BY BOARDNO) C ON C.BOARDNO = B.NO
		WHERE B.TYPE = 'BOARD001' AND B.STATUS = 'BSTATUS001' AND M.LOCATIONNO = #{LOCATIONNO}
		ORDER BY comment_count DESC, B.NO DESC
	</select>
	
	<select id="likeSort" resultMap="resultBoardList">
		SELECT B.*, M.NICKNAME, NVL(L.like_count, 0) like_count, NVl(C.comment_count,0) comment_count, 
			INSTR(b.CONTENT, 'img') imageCheck, M.PROFILE profile
		FROM DC_BOARD_TB B
		INNER JOIN DC_MEMBER_TB M 
		ON B.MEMBERNO = M.NO
		  LEFT JOIN (SELECT COUNT(*) like_count, BOARDNO FROM DC_LIKE_TB GROUP BY BOARDNO) L ON L.BOARDNO = B.NO
		  LEFT JOIN (SELECT COUNT(*) comment_count, BOARDNO FROM DC_COMMENT_TB WHERE STATUS = 'STATUS001' GROUP BY BOARDNO) C ON C.BOARDNO = B.NO
		WHERE B.TYPE = 'BOARD001' AND B.STATUS = 'BSTATUS001' AND M.LOCATIONNO = #{LOCATIONNO}
		ORDER BY like_count DESC, B.NO DESC
	</select>
	
	<select id="selectFreeTotalContents" resultType="_int">
		SELECT COUNT(*) 
		FROM DC_BOARD_TB B
		INNER JOIN DC_MEMBER_TB M 
				ON B.MEMBERNO = M.NO
		WHERE B.TYPE = 'BOARD001' AND B.STATUS = 'BSTATUS001' AND M.LOCATIONNO = #{LOCATIONNO}
	</select>
	
	<select id="selectOneFree" parameterType="_int" resultMap="resultBoardList">
		SELECT B.*, M.NICKNAME, NVL(L.like_count, 0) like_count, NVl(C.comment_count,0) comment_count, M.PROFILE profile 
		FROM DC_BOARD_TB B
		INNER JOIN DC_MEMBER_TB M 
		ON B.MEMBERNO = M.NO
		LEFT JOIN (SELECT COUNT(*) like_count, BOARDNO FROM DC_LIKE_TB GROUP BY BOARDNO) L ON L.BOARDNO = B.NO
		LEFT JOIN (SELECT COUNT(*) comment_count, BOARDNO FROM DC_COMMENT_TB WHERE STATUS = 'STATUS001' GROUP BY BOARDNO) C ON C.BOARDNO = B.NO
		WHERE B.TYPE = 'BOARD001' AND B.NO = #{bno}  AND B.STATUS = 'BSTATUS001'
		ORDER BY B.WRITEDATE DESC, B.NO DESC
	</select>
	
	<insert id="insertFree" parameterType="Board">
		INSERT INTO DC_BOARD_TB VALUES
		(SEQ_BOARD.NEXTVAL, #{title}, SYSDATE, #{content}, 0, 'BOARD001', 'BSTATUS001', #{memberNo}, NULL)
	</insert>
	
	<update id="updateFree" parameterType="Board">
		UPDATE DC_BOARD_TB SET TITLE = #{title}, CONTENT = #{content} WHERE NO = #{no}
	</update>
	
	<update id="freeDelete" parameterType="_int"> 
		UPDATE DC_BOARD_TB SET STATUS = 'BSTATUS002'  WHERE NO = #{no} 
	</update>
	
	<select id="freeViewCount" parameterType="_int">
		UPDATE DC_BOARD_TB SET VIEWCOUNT = VIEWCOUNT + 1 WHERE NO = #{no}
	</select>
	
	<select id="selectFreeListData" resultType="board">
		SELECT * FROM DC_BOARD_TB WHERE TYPE='BOARD001' 
		AND STATUS = 'BSTATUS001' AND ROWNUM <![CDATA[ <= 5 ORDER BY NO ]]>
	</select>
	
</mapper>
