<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="house_mapper">

	<select id="selectList" resultType="house">
		SELECT B.NO boardNo,
		B.WRITEDATE,
		M.NAME userName,
		B.TITLE, B.CONTENT, B.VIEWCOUNT,
		B.TYPE, B.STATUS, B.MEMBERNO, B.CATEGORY,
		H.MINPRICE, H.MAXPRICE, H.AREA, H.TYPE hType, 
		NVL(substr(CONTENT, INSTR(CONTENT, 'src="', 1,1)+5,  INSTR(CONTENT, '"', INSTR(CONTENT, 'src="', 1,1)+5,1) -  INSTR(CONTENT, 'src="', 1,1)-5),'/dc/resources/images/no-image.png') houseImg,
		H.DEALTYPE
		FROM DC_BOARD_TB B 
		JOIN DC_BOARD_HOUSE_TB H ON B.NO = H.BOARDNO
		JOIN DC_MEMBER_TB M ON B.MEMBERNO = M.NO
		WHERE B.STATUS = 'BSTATUS001'
		AND H.TYPE = #{hType}
        AND H.DEALTYPE = #{dealType}
		ORDER BY 1 DESC
	</select>
	
	<select id="selectOne" parameterType="_int" resultType="house">		
		SELECT B.NO boardNo,
		B.WRITEDATE,
		M.NAME userName,
		B.TITLE, B.CONTENT, B.VIEWCOUNT,
		B.TYPE, B.STATUS, B.MEMBERNO mNo, B.CATEGORY,
		H.MINPRICE, H.MAXPRICE, H.AREA, H.TYPE hType, H.DEALTYPE
		FROM DC_BOARD_TB B 
		JOIN DC_BOARD_HOUSE_TB H ON B.NO = H.BOARDNO
		JOIN DC_MEMBER_TB M ON B.MEMBERNO = M.NO
		WHERE B.NO = #{no}
	</select>
	
	<insert id="insertBoard" parameterType="house">	
		INSERT INTO DC_BOARD_TB VALUES(SEQ_BOARD.NEXTVAL, #{title}, SYSDATE, #{content}, 0, 'BOARD005', 'BSTATUS001', #{mNo}, NULL)
	</insert>
	
	<insert id="insertHouse" parameterType="house">
		<selectKey keyProperty="boardNo" resultType="_int" order="BEFORE">
			SELECT SEQ_BOARD.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO DC_BOARD_HOUSE_TB VALUES(SEQ_BOARD_HOUSE.NEXTVAL, #{minprice}, #{minprice}, #{area}, #{boardNo}, #{hType}, #{dealType})
	</insert>
	
	<update id="updateBoard" parameterType="house">
	 	UPDATE DC_BOARD_TB SET TITLE= #{title}, CONTENT = #{content}, WRITEDATE = SYSDATE WHERE NO= #{no}
	</update>
	
	<update id="updateHouse" parameterType="house">
	 	UPDATE DC_BOARD_HOUSE_TB SET MINPRICE= #{minprice}, MAXPRICE = #{minprice}, area=#{area}, TYPE=#{hType}, DEALTYPE=#{dealType} WHERE BOARDNO= #{no}
	</update>
	
	<update id="deleteHouse" parameterType="_int">
		UPDATE DC_BOARD_TB SET STATUS = 'BSTATUS002' WHERE NO = #{no}
	</update>
	
	<select id="selectRoomList" resultType="code">
	SELECT * FROM DC_CODE_TB WHERE ID LIKE 'HUSTYP%'
	</select>
	
	<select id="selectDealList" resultType="code">
	SELECT * FROM DC_CODE_TB WHERE ID LIKE 'HUSDEAL%'
	</select>

</mapper>