<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member_mapper">

	<resultMap type="board" id="resultBoard">
		<id property="no" column="no" />
		<result property="boardType"  column="value" />
	</resultMap>
	
	<resultMap type="comment" id="resultComment">
		<id property="no" column="no" />
		<result property="boardType"  column="value" />
		<result property="boardTitle"  column="title" />
	</resultMap>
	
	<!-- 회원가입 페이지의 주소리스트 띄우기 -->
	<select id="selectLocationList" resultType="location">
		SELECT * FROM DC_LOCATION_TB WHERE LOCATION LIKE '%구' ORDER BY 3
	</select>
	
	<!-- 회원정보 페이지의 은행 리스트 뿌리기 -->
	<select id="selectBankList" resultType="code">
		SELECT * FROM DC_CODE_TB WHERE ID LIKE 'BANK%'
	</select>
	
	<!-- 내가 쓴 게시물 리스트 가져오기 -->
	<select id="selectMyBoardList" parameterType="_int" resultMap="resultBoard">
		SELECT NO, C.VALUE, TITLE, WRITEDATE, VIEWCOUNT
		FROM DC_BOARD_TB B
		JOIN DC_CODE_TB C ON (B.TYPE = C.ID)
		WHERE MEMBERNO = #{no}
	</select>
	
	<!-- 내가 쓴 댓글 리스트 가져오기 -->
	<select id="selectMyCommentList" parameterType="_int" resultMap="resultComment">
		SELECT CO.NO, C.VALUE, B.TITLE, CO.BOARDNO, CO.CONTENT, CO.WRITEDATE
		FROM DC_COMMENT_TB CO
		JOIN DC_BOARD_TB B ON CO.BOARDNO = B.NO
		JOIN DC_CODE_TB C ON  c.id = B.TYPE
		WHERE CO.MEMBERNO = #{no}
	</select>	

	
	<!-- 닉네임 중복 체크 -->
	<select id="checkNickNameDuplicate" parameterType="String" resultType="_int">
		SELECT COUNT(*)
     	FROM DC_MEMBER_TB
    	WHERE NICKNAME = #{nickName}
	</select>
	
	<!-- 이메일 중복 체크 -->
	<select id="checkEmailDuplicate" parameterType="String" resultType="_int">
		SELECT COUNT(*)
     	FROM DC_MEMBER_TB
    	WHERE EMAIL = #{email}
	</select>
	
	
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="Member">
		INSERT INTO DC_MEMBER_TB VALUES(
			SEQ_MEMBER.NEXTVAL, #{email}, #{nickName}, 
			#{password}, SYSDATE, 0, #{locationNo}, 1, 'STATUS001', null, #{name}, null, null
		)
	</insert>
	
	<!-- 로그인 시 이메일(아이디)로 멤버 가져오기 -->
	<select id="selectOneMember" parameterType="string" resultType="member">
		SELECT * FROM DC_MEMBER_TB WHERE email = #{email}
	</select>
	
	<!-- 닉네임 찾기 -->
	<select id="selectOneNickName" parameterType="string" resultType="member">
		SELECT * FROM DC_MEMBER_TB WHERE NICKNAME = #{nickName}
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="updateMember" parameterType="Member">
		UPDATE DC_MEMBER_TB SET
		NICKNAME = #{nickName}, PASSWORD = #{password}, 
		LOCATIONNO = #{locationNo}, ADDRESS=#{address}, DEPOSIT=#{deposit}, BANK=#{bank}
		WHERE NO = #{no}
	</update>
	
	<!-- 회원 삭제 -->
	<delete id="deleteMember" parameterType="_int">
		DELETE FROM DC_MEMBER_TB WHERE no = #{no}
	</delete>
	
		

</mapper>







