<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

<!-- 	<insert id="insertMember" parameterType="member">
		INSERT INTO DC_MEMBER_TB VALUES(
			SEQ_BOARDNO.NEXTVAL, #{email}, #{nickname}, #{password},
			DEFAULT, 1, 1, #{address}, #{name}
		)
	</insert> -->
	
<!-- 	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER 
		SET PASSWORD = #{password},
		EMAIL = #{email}, 
		AGE = #{age}, 
		PHONE = #{phone}, 
		ADDRESS = #{address}, 
		WHERE USERID = #{userId}
	</update>
	
	<delete id="deleteMember" parameterType="int">
		DELETE FROM MEMBER WHERE no = #{no}
	</delete> -->
	
	<!-- 닉네임 중복 체크 -->
	<select id="checkNickNameDuplicate" parameterType="String" resultType="_int">
		SELECT COUNT(*)
     	FROM DC_MEMBER_TB
    	WHERE NICKNAME = #{nickname}
	</select>
	
	<!-- 이메일 중복 체크 -->
	<select id="checkEmailDuplicate" parameterType="String" resultType="_int">
		SELECT COUNT(*)
     	FROM DC_MEMBER_TB
    	WHERE EMAIL = #{email}
	</select>
</mapper>







