<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="region_mapper">

	<select id="selectList" resultType="region">
		SELECT * FROM DC_BOARD_TB WHERE TYPE='BOARD007' ORDER BY 1 DESC
	</select>
	
	<select id="selectOne" parameterType="_int" resultType="region">
		SELECT *
		FROM DC_BOARD_TB 
		WHERE NO = #{no}
	</select>
	
	<insert id="insertRegion" parameterType="region">
		INSERT INTO DC_BOARD_TB VALUES(SEQ_BOARD.NEXTVAL, #{title}, SYSDATE, #{content}, 1, 'BOARD007','STATUS001', 1,NULL)
	</insert>
	
	<update id="updateRegion" parameterType="region">
	 	UPDATE DC_BOARD_TB SET TITLE= #{title}, CONTENT = #{content}, WRITEDATE = SYSDATE WHERE NO= #{no}
	</update>
	
	<!-- like 삭제 -->
	<delete id="deleteRegionLike" parameterType="_int">
	 DELETE FROM DC_LIKE_TB WHERE BOARDNO = #{no}
	</delete>
	
	<delete id="deleteRegion" parameterType="_int">	
		DELETE FROM DC_BOARD_TB WHERE NO = #{no}
	</delete>
	
	<insert id="regionLikeCount" parameterType="like">
		INSERT INTO DC_LIKE_TB VALUES(SEQ_LIKE.NEXTVAL, SYSDATE, #{no}, 1)

	</insert>
	
	<select id="regionLikeCountView" resultType="_int">
		SELECT COUNT(*)
        FROM DC_LIKE_TB WHERE BOARDNO = #{no}
	</select>
	
	
	<update id="updateCountRegion" parameterType="region">
		UPDATE DC_BOARD_TB SET VIEWCOUNT = VIEWCOUNT + 1 WHERE NO = #{no}
	</update>
	
</mapper>