<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="regionRe">
	

	
	<insert id="insertRegionRe" parameterType="RegionRe">		
		INSERT INTO DC_COMMENT_TB VALUES(SEQ_COMMENT.NEXTVAL, #{content}, SYSDATE , 2 , #{boardNo},'STATUS001')
	</insert>

	
</mapper>