<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="report_mapper">

	<insert id="reportInsert" parameterType="Report">
		INSERT INTO DC_REPORT_TB VALUES (SEQ_REPORT.NEXTVAL, #{boardNo}, #{rcNo}, #{memberNo}, SYSDATE, 'STATUS006')
	</insert>

</mapper>