@charset "UTF-8";

.block {
	float: left;
	height: auto;
	width: auto;
	/* border: 1px solid lightgray; */
	text-align: center;
}

.currentWeather {
	display: inline-block;
	margin-top: 10px;
	font-size: 16px;
	text-align: center;
	align: center;
}

.weekWeather-container {
	display: inline-block;
	margin-top: 10px;
	font-size: 16px;
	text-align: center;
	align: center;
}

.loadingImg {
	width: 250px;
	height: 250px
}

.week{
	font-size: 30px;
}