@charset "UTF-8";

#resultTitle {
	font-size: 20px;
	color: darkgreen;
}

#resultContent {
	padding: 10px 0px 10px 0px;
	margin-bottom: 0;
	text-overflow: ellipsis;
}

#resultMemberName {
	color: #03cf5d;
}

#resultWriteDate {
	color: gray;
}