@charset "UTF-8";

.loginBtnSection{
	width: 110px;
	background: rgb(248, 178, 106);
    color: white;
}
.dc-profile-area-bottom ul li {
	width: 120px;

}

.loginBtnSection:hover{
	background: rgb(244, 126, 96);
	color: white;
}


