@CHARSET "UTF-8";
/* .section-center{
	background-color: yellow;
	float:left;
	height:100%;
	width:80%;
	
}
.section-left{
	background-color: gray;
	float:left;
	height:100%;
	width:10%;
}

.section-right{
	background-color: red;
	float: right;
	height:100%;
	width:10%;
}

.section-right > .section-item{
	background-color: blue;
	height : 200px;
	border : 3px solid black;
} */